@import url("https://use.typekit.net/nza5whe.css");

#finder_captcha table {
	margin: 20px 0 !important;
}

#finder_body {
	margin:0;
	padding:0 0 50px;
	width:100%;
	background-color:transparent;
}

#finder_body a {
	color: #56565a;
}

#finder_body a:hover {
	color: #9e732e;
}


@media screen and (min-width: 0px) and (max-width: 639px) {
	#finder {
		max-width: 100% !important;
	}
}

#finder_form {
	border-top:1px solid #56565a;
	margin-top:20px;
}

#finder_content {
	margin:0;
	padding:0;
}

#tab-list {
	max-width:100%;
	height:100%;
}

#tab-form .panel-body,#tab-list .panel-body {
	padding:0;
}

.form-horizontal .form-group {
	margin:0;
}

#finder_tab_nav a {
	box-shadow:none;
	color: #56565a;
	font-size:18px !important;
	font-family: mrs-eaves,serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
	font-weight:400;
	line-height:36px;
	padding:10px 20px;
}

#finder_tab_nav li {
	border: none;
}

#finder_tab_nav li.active {
	border: none;
	color: #9e732e;
}

#finder_tab_nav li.active:hover {
	background:none!important;
	border: none;
}

#finder_tab_nav li.active:hover a {
	color: #9e732e!important;
}
#finder {
	max-width: 40%;
}
.panel {
	background:none;
	border-radius:0!important;
	-webkit-box-shadow:none;
	box-shadow:none;
	font-size:16px;
	padding:20px 0 0;
}

.panel-footer {
	background:none;
}

.form-horizontal .control-label {
	color:#9e732e!important;
	font-family: mrs-eaves,serif;
	font-size:16px!important;
	font-style:italic!important;
	text-transform:lowercase!important;
}
#finder_BFBRCD {
	display: none !important;
}
select.form-control {
	background: #fff;
	background-image:none!important;
	border:1px solid #56565a!important;
	border-radius:0!important;
	box-shadow:none!important;
	color:#9e732e!important;
	font-family: mrs-eaves,serif;
	font-size:18px!important;
	height:42px!important;
	margin:0!important;
	text-indent:8px!important;
	-webkit-appearance:none;
}

.finder_form_right select {
	margin-bottom:15px!important;
}

select:focus,select.form-control:focus {
	background-image:none!important;
	border-color:#56565a!important;
	box-shadow:none!important;
}

input[type=text] {
	background: #fff;
	border:1px solid #56565a!important;
	border-radius:0!important;
	color:#9e732e!important;
	font-family: mrs-eaves,serif;
	font-size:18px!important;
	height:42px!important;
	margin:0 0 15px!important;
	text-indent:8px!important;
}

input[type=text]:focus {
	box-shadow:none!important;
}

input[type=text]::placeholder {
	color:#9e732e!important;
}

.btn {
	color: #fff !important;
    background: #413c37 !important;
    border: 1px solid #56565a !important;
	border-radius:0!important;
	-webkit-box-shadow:none;
	box-shadow:none;
	font-family: mrs-eaves,serif;
	font-size:20px;
	padding:8px;
	text-decoration:none!important;
	text-transform:uppercase;
}

.btn:hover,.btn:active {
	color: #fff !important;
    background: #9e732e !important;
    border: 1px solid #56565a !important;
}
#finder_map_paging {
    top: 140px;
}
.finder_vip_logo {
	display:none;
}
.panel-primary>.panel-heading {
	background: none !important;
}
.panel-title {
	color:#56565a!important;
}
.panel-title>a,.panel-title>small,
.panel-title>.small,
.panel-title>small>a,
.panel-title>.small>a {
	color:#56565a!important;
	font-size:16px!important;
	opacity:1;
}

.label-default {
	background-color:#9e732e;
}
.finder_miles {
	background: #9e732e;
	padding: .2em .6em !important;
}
.alert-warning {
	background-color:transparent!important;
	border-radius:0;
	border:1px solid #d878ac!important;
	color: #9e732e!important;
	margin:30px 0!important;
}
#tab-form, #vipcopyright {
	width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 750px) {
	#finder {
		max-width: 100% !important;
	}
	.form-horizontal .control-label {
		font-size: 24px !important;
	}
	select.form-control,
	input[type=text] {
		font-size: 24px !important;
		height: 50px !important;
	}
}